@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*
  Обозначения цветов.
  Первый блок - базовые оттенки.
    - Префикс с буквой "-a.." означают прозрачность.
  Второй блок - семантические цвета.
    - Префиксы: light, medium, heavy, solid - указывают на степень прозрачности цвета от большей прозрачности к меньшей.
    - Префиксы: bold, subtle и их производные - указывают на оттенок того же цвета, но без прозрачности.
 */

:root {
  --color-neutral-0: #ffffff;
  --color-neutral-100: #f2f2f2;
  --color-neutral-100-a80: rgba(242, 242, 242, 0.8);
  --color-neutral-200: #e5e5e5;
  --color-neutral-250: #e6e6e6;
  --color-neutral-800: #333333;
  --color-neutral-1000: #000000;
  --color-neutral-0-a10: rgba(255, 255, 255, 0.1);
  --color-neutral-0-a30: rgba(255, 255, 255, 0.3);
  --color-neutral-0-a60: rgba(255, 255, 255, 0.6);
  --color-neutral-1000-a20: rgba(0, 0, 0, 0.2);
  --color-neutral-1000-a15: rgba(0, 0, 0, 0.15);
  --color-neutral-1000-a25: rgba(0, 0, 0, 0.25);
  --color-neutral-1000-a30: rgba(0, 0, 0, 0.3);
  --color-neutral-1000-a40: rgba(0, 0, 0, 0.4);
  --color-neutral-1000-a60: rgba(0, 0, 0, 0.6);
  --color-blue-500: rgb(130, 179, 211);
  --color-blue-600: #68a2ca;
  --color-blue-700: #3f5e72;
  --color-blue-500-a12: rgba(130, 179, 211, 0.12);
  --color-blue-500-a20: rgba(130, 179, 211, 0.2);
  --color-blue-500-a30: rgba(130, 179, 211, 0.3);
  --color-red-500: #ff5757;
  --color-green-500: #7db54f;
  --color-green-600: #6c9e42;
  --color-brown-500: #756157;
  --color-brown-600: #615048;
  --color-brown-500-a30: rgba(119, 97, 87, 0.3);

  --color-text-primary: var(--color-neutral-1000);
  --color-text-primary-medium: var(--color-neutral-1000-a30);
  --color-text-primary-heavy: var(--color-neutral-1000-a60);
  --color-text-secondary: var(--color-neutral-800);
  --color-text-inverse: var(--color-neutral-0);
  --color-text-inverse-light: var(--color-neutral-0-a10);
  --color-text-inverse-medium: var(--color-neutral-0-a30);
  --color-text-inverse-heavy: var(--color-neutral-0-a60);
  --color-text-error: var(--color-red-500);

  --color-link: var(--color-neutral-1000);
  --color-link-hover: var(--color-brown-500);
  --color-link-focus: var(--color-brown-500);
  --color-link-active: var(--color-brown-500-a30);

  --color-border-primary: var(--color-neutral-1000);
  --color-border-secondary: var(--color-brown-500);
  --color-border-tertiary: var(--color-neutral-250);
  --color-border-accent: var(--color-blue-600);

  --color-bg-primary: var(--color-neutral-0);
  --color-bg-primary-bold: var(--color-neutral-100);
  --color-bg-primary-bold-heavy: var(--color-neutral-100-a80);
  --color-bg-primary-bolder: var(--color-neutral-250);
  --color-bg-primary-medium: var(--color-neutral-0-a30);
  --color-bg-secondary-subtle: var(--color-neutral-800) ;
  --color-bg-secondary-medium: var(--color-neutral-1000-a30);
  --color-bg-accent: var(--color-blue-500);
  --color-bg-accent-heavy: var(--color-blue-500-a20);
  --color-bg-accent-medium: var(--color-blue-500-a12);
  --color-bg-success: var(--color-green-500);
  --color-bg-img-block: #002d4d;

  --color-btn-primary: var(--color-brown-500);
  --color-btn-primary-hover: var(--color-brown-600);
  --color-btn-primary-focus: var(--color-brown-600);
  --color-btn-primary-active: var(--color-brown-500);
  --color-btn-accent: var(--color-blue-500);
  --color-btn-accent-hover: var(--color-blue-600);
  --color-btn-accent-focus: var(--color-blue-600);
  --color-btn-accent-active: var(--color-blue-500);
  --color-btn-success: var(--color-green-500);
  --color-btn-success-hover: var(--color-green-600);
  --color-btn-success-focus: var(--color-green-600);
  --color-btn-success-active: var(--color-green-500);
  --color-btn-disabled: var(--color-neutral-200);

  --color-btn-border-accent-focus: var(--color-blue-500);

  --color-input: var(--color-neutral-100);
  --color-input-hover: var(--color-neutral-250);
  --color-input-focus: var(--color-neutral-250);
  --color-input-border-focus: var(--color-blue-600);
  --color-input-border-active: var(--color-blue-600);
  --color-input-control: var(--color-neutral-0);

  --color-select-border: var(--color-neutral-200);
  --color-select-borde-hover: var(--color-blue-600);
  --color-select-borde-focus: var(--color-blue-600);
  --color-select-borde-active: var(--color-blue-600);

  --color-icon-primary: var(--color-neutral-1000);
  --color-icon-primary-medium: var(--color-neutral-1000-a30);
  --color-icon-secondary-active: var(--color-brown-500-a30);
  --color-icon-inverse: var(--color-neutral-0);
  --color-icon-accent: var(--color-blue-500);
  --color-icon-accent-hover: var(--color-blue-600);
  --color-icon-accent-focus: var(--color-blue-600);
  --color-icon-accent-active: var(--color-blue-500-a30);

  --color-shadow: var(--color-neutral-1000-a20);
  --color-shadow-light: var(--color-neutral-1000-a15);
  --color-shadow-medium: var(--color-neutral-1000-a25);
  --color-shadow-medium-2: var(--color-neutral-1000-a30);
  --color-shadow-heavy: var(--color-neutral-1000-a40);

}

html {
  height: 100%;
  background-color: var(--color-bg-primary-bold);
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BASE CLASSES */

/* BUTTON */

.btn {
  display: inline-block;
  padding: 8px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-text-inverse);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}

.btn-size-lg {
  font-size: 20px;
  line-height: 36px;
}

.btn-color-primary {
  background-color: var(--color-btn-primary);
}

.btn-color-primary:hover {
  background-color: var(--color-btn-primary-hover);
}

.btn-color-primary:focus-visible {
  background-color: var(--color-btn-primary-focus);
}

.btn-color-primary:active {
  color: var(--color-text-inverse-medium);
  background-color: var(--color-btn-primary);
}

.btn-color-accent {
  background-color: var(--color-btn-accent);
}

.btn-color-accent:hover {
  background-color: var(--color-btn-accent-hover);
}

.btn-color-accent:focus-visible {
  background-color: var(--color-btn-accent-focus);
}

.btn-color-accent:active {
  color: var(--color-text-inverse-medium);
  background-color: var(--color-btn-accent-active);
}

.btn-color-success {
  background-color: var(--color-btn-success);
}

.btn-color-success:hover {
  background-color: var(--color-btn-success-hover);
}

.btn-color-success:focus-visible {
  background-color: var(--color-btn-success-focus);
}

.btn-color-success:active {
  color: var(--color-text-inverse-medium);
  background-color: var(--color-btn-success-active);
}

.btn:disabled,
.btn.disabled {
  color: var(--color-text-inverse);
  background: var(--color-btn-disabled);
  pointer-events: none;
  cursor: default;
}

.btn-ghost {
  background-color: transparent;
}

.btn-ghost:hover {
  color: var(--color-text-inverse-heavy);
}

.btn-ghost:focus-visible {
  color: var(--color-text-inverse);
  outline: 3px solid var(--color-btn-border-accent-focus);
  outline-offset: -3px;
  border-radius: 4px;
}

.btn-ghost:active {
  color: var(--color-text-inverse-medium);
  outline: none;
}

.btn-ghost:disabled {
  color: var(--color-text-inverse-light);
  background-color: transparent;
}

/* INPUT */

.field {
  min-width: 0;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-text-primary);
  background-color: var(--color-input);
  border-width: 0;
  border-radius: 4px;
}

/* Скрытие стрелок в input[type="number"] */

.field[type="number"] {
  -moz-appearance: textfield;
}

.field[type="number"]::-webkit-inner-spin-button,
.field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------------------------------------------------------------ */

.field::placeholder {
  color: var(--color-text-primary-heavy);
}

.field:hover {
  background-color: var(--color-input-hover);
}

.field:focus-visible {
  background-color: var(--color-input-focus);
  outline: 3px solid var(--color-input-border-focus);
  outline-offset: -3px;
}

.field:disabled::placeholder {
  color: var(--color-text-primary-medium);
  background-color: var(--color-input);
}

.field:disabled {
  color: var(--color-text-primary-medium);
  background-color: var(--color-input);
}

/* Checkbox | Radio */

.control {
  position: relative;
  min-width: 20px;
  height: 20px;
  margin: 1.5px 0 0 0;
  background-color: var(--color-input-control);
  background-repeat: no-repeat;
  border-radius: 4px;
  appearance: none;
  transition: 150ms;
}

.control:focus-visible {
  outline: 3px solid var(--color-input-border-focus);
  outline-offset: 0;
}

.control-checkbox:checked {
  background-image: url("../images/icons/check.svg");
  transition: 150ms;
}

.control-radio {
  border-radius: 50%;
}

.control-radio:checked {
  background-image: url("../images/icons/circle.svg");
}

/* OTHER BASE CLASSES */

.badge {
  position: absolute;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--color-text-inverse);
  background-color: var(--color-bg-success);
  border-radius: 50%;
}

/* Universal header section of blocks */

.headline-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.headline-desc {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text-secondary);
}

.page-wrap {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--color-bg-primary);
  box-shadow: 0 0 15px var(--color-shadow);
}

.disabled {
  pointer-events: none;
  cursor: default;
}

/* ------------------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------------------ */

.page-header {
  z-index: 1;
  display: flex;
  margin: 0 70px;
}

.header-logo-link {
  width: 140px;
  margin-bottom: -6px;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.7;
}

.header-logo {
  display: block;
}

.navbar {
  display: flex;
  flex: 1;
  margin-left: 30px;
}

.navbar-list {
  display: flex;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-links {
  max-width: 550px;
  flex-wrap: wrap;
}

.navbar-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--color-link-hover);
}

.navbar-link:active {
  opacity: 0.3;
}

.navbar-link-current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: calc(100% - 32px);
  border-bottom: 2px solid var(--color-border-secondary);

}

.navbar-controls {
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 340px;
  margin-left: auto;
}

.navbar-controls-icon {
  display: block;
  width: 44px;
  height: 64px;
  background: center / 20px no-repeat;
  text-decoration: none;
}

.navbar-controls-icon:hover {
  opacity: 0.6;
}

.navbar-controls-icon:active {
  opacity: 0.4;
}

.navbar-controls-icon.disabled {
  opacity: 0.4;
}

.icon-search {
  background-image: url("../images/icons/search.svg");
}

.icon-favorite {
  position: relative;
  background-image: url("../images/icons/heart.svg");
}

.icon-favorite .badge {
  top: 11px;
  right: 4px;
}

.navbar-controls-item:last-child {
  padding: 14px 0 14px 20px;
}

.navbar .btn {
  max-width: 180px;
  padding: 8px 34px;
}

/* ------------------------------------------------------------------------------------ */
/* MAIN SCREEN */
/* ------------------------------------------------------------------------------------ */

.main-index {
  flex-grow: 1;
}

.main-banner {
  position: relative;
  padding: 51px 0 82px;
  background-color: var(--color-bg-img-block);
  background-image: url("../images/index/index-bg@1x.jpg");
  background-image: -webkit-image-set(
    url("../images/index/index-bg@2x.avif") type("image/avif") 2x,
    url("../images/index/index-bg@1x.avif") type("image/avif") 1x,
    url("../images/index/index-bg@2x.webp") type("image/webp") 2x,
    url("../images/index/index-bg@1x.webp") type("image/webp") 1x,
    url("../images/index/index-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/index/index-bg@1x.jpg") type("image/jpg") 1x
  );
  background-image: image-set(
    url("../images/index/index-bg@2x.avif") type("image/avif") 2x,
    url("../images/index/index-bg@1x.avif") type("image/avif") 1x,
    url("../images/index/index-bg@2x.webp") type("image/webp") 2x,
    url("../images/index/index-bg@1x.webp") type("image/webp") 1x,
    url("../images/index/index-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/index/index-bg@1x.jpg") type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-banner::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/index/index-bg-mask.svg");
}

.main-slogan {
  display: block;
  margin: auto;
}

/* ------------------------------------------------------------------------------------ */
/* ADVANTAGES */
/* ------------------------------------------------------------------------------------ */

.advantages-headline-wrap {
  padding: 69px 250px 90px;
  text-align: center;
}

.advantages-block-2 .advantages-headline-wrap {
  padding: 64px 300px;
}

.advantages-block-1 .headline-title {
  margin-bottom: 25px;
}

.advantages-block-2 .headline-title {
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item-wrap {
  display: flex;
  width: 1200px;
  color: var(--color-text-inverse);
  background-color: var(--color-bg-accent);
}

.advantages-item + .img-order-inverse {
  order: -1;
}

.advantages-item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 85px;
  box-sizing: border-box;
  text-align: center;
}

.advantages-block-2 .advantages-item {
  padding: 75px 85px;
}

.advantages-item-type-1 {
  background-color: var(--color-bg-accent-medium);
}

.advantages-item-type-2 {
  background-color: var(--color-bg-accent-heavy);
}

.advantages-item-type-3 {
  background-color: transparent;
}

.advantages-title {
  display: block;
  max-width: 175px;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.advantages-title-divider::after {
  content: "";
  display: block;
  height: 2px;
  width: 60px;
  margin: 30px auto 0 auto;
  background-color: var(--color-bg-secondary-medium);
}

.advantages-item-wrap .advantages-title-divider::after {
  background-color: var(--color-bg-primary-medium);
}

.advantages-desc {
  margin: 0;
  padding: 0;
  color: var(--color-text-secondary);
}

.advantages-item-wrap .advantages-desc {
  color: var(--color-text-inverse);
}

.advantages-picture {
  display: flex;
}

.advantages-img {
  display: block;
  min-width: 800px;
  min-height: 385px;
  object-fit: cover;
  background: var(--color-bg-img-block);
}

.advantages-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px auto;
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-house::before {
  background-image: url("../images/icons/house.svg");
}

.icon-food::before {
  background-image: url("../images/icons/food.svg");
}

.icon-gift::before {
  background-image: url("../images/icons/gift.svg");
  width: 75px;
  height: 76px;
}

/* ------------------------------------------------------------------------------------ */
/* SEARCH INN */
/* ------------------------------------------------------------------------------------ */

.search-inn {
  padding: 96px 250px;
  text-align: center;
}

.search-inn .headline-desc {
  margin: 0 60px 54px;
}

.search-inn .btn {
  padding: 8px 50px;
}

/* ------------------------------------------------------------------------------------ */
/* CATALOG */
/* ------------------------------------------------------------------------------------ */

.main-catalog {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.catalog-filter {
  padding: 35px 70px 70px 70px;
  color: var(--color-text-inverse);
  background-color: var(--color-bg-img-block);
  background-image: url("../images/catalog/catalog-bg@1x.jpg");
  background-image: -webkit-image-set(
    url("../images/catalog/catalog-bg@2x.avif") type("image/avif") 2x,
    url("../images/catalog/catalog-bg@1x.avif") type("image/avif") 1x,
    url("../images/catalog/catalog-bg@2x.webp") type("image/webp") 2x,
    url("../images/catalog/catalog-bg@1x.webp") type("image/webp") 1x,
    url("../images/catalog/catalog-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/catalog/catalog-bg@1x.jpg") type("image/jpg") 1x
  );
  background-image: image-set(
    url("../images/catalog/catalog-bg@2x.avif") type("image/avif") 2x,
    url("../images/catalog/catalog-bg@1x.avif") type("image/avif") 1x,
    url("../images/catalog/catalog-bg@2x.webp") type("image/webp") 2x,
    url("../images/catalog/catalog-bg@1x.webp") type("image/webp") 1x,
    url("../images/catalog/catalog-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/catalog/catalog-bg@1x.jpg") type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  max-width: 1060px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.breadcrumbs-link:hover {
  color: var(--color-text-inverse-heavy);
}

.breadcrumbs-link:focus-visible {
  color: var(--color-text-inverse);
}

.breadcrumbs-link:active {
  color: var(--color-text-inverse-medium);
}

.breadcrumbs-link:disabled {
  color: var(--color-text-inverse-medium);
}

.breadcrumbs-icon {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/icons/home.svg");
}

.breadcrumbs-icon:hover {
  opacity: 0.6;
}

.breadcrumbs-icon:active {
  opacity: 0.4;
}

.breadcrumbs-item:nth-child(1n+2)::before {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* ------------------------------------------------------------------------------------ */
/* FILTER BLOCK */
/* ------------------------------------------------------------------------------------ */

.filter {
  display: flex;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-control {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  line-height: 23px;
}

.filter-control:has(.control:hover) {
  opacity: 0.6;
}

.filter-control:has(.control:focus-visible) {
  opacity: 1;
}

.filter-control:has(.control:active) {
  opacity: 0.3;
}

.filter-control:has(.control:disabled) {
  opacity: 0.4;
}

.filter-service {
  margin-right: 70px;
  max-width: 200px;
}

.filter-housing {
  max-width: 200px;
}

.filter-price {
  max-width: 288px;
  margin-left: auto;
  margin-right: 70px;
}

.filter-field-wrap {
  display: flex;
  width: 288px;
  gap: 2px;
  margin-bottom: 44px;
  border-radius: 4px;
}

.control-field {
  position: relative;
  display: flex;
  max-width: 143px;
  font-size: 18px;
  line-height: 23px;
}

.field-price-min {
  padding-right: 44px;
  border-radius: 4px 0 0 4px;
}

.field-price-max {
  padding-right: 48px;
  border-radius: 0 4px 4px 0;
}

.field-price-min:focus-visible,
.field-price-max:focus-visible {
  z-index: 1;
  outline-offset: 0;
}

.control-field-label {
  z-index: 2;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 20px;
  line-height: 24px;
  color: var(--color-text-primary-medium);
  pointer-events: none;
}

/* Range slider */

.range-track {
  position: relative;
  height: 4px;
  background: var(--color-bg-primary-medium);
}

.range-bar {
  position: absolute;
  height: 4px;
  background: var(--color-input-control);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px var(--color-shadow-medium);
}

.range-toggle:focus-visible {
  outline: 3px solid var(--color-input-border-focus);
  box-shadow: 0 4px 10px var(--color-shadow-medium);
}

.range-toggle:active {
  outline: 2px solid var(--color-input-border-active);
  box-shadow: 0 7px 15px var(--color-shadow-heavy);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range:has(.range-toggle:disabled) {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

/* Блок фильтров - кнопки */

.filter-btn-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  max-width: 191px;
  margin-top: 56px;
}

/* ------------------------------------------------------------------------------------ */
/* HOTELS */
/* ------------------------------------------------------------------------------------ */

.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-options {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.catalog .headline-title {
  margin: 6px 20px 0 0;
}

/* Sorting cards */

.catalog-sort-select {
  flex-shrink: 0;
  width: 292px;
  padding: 12px 52px 12px 20px;
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-text-secondary);
  background-color: transparent;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 22px;
  border-radius: 4px;
  border: 2px solid var(--color-select-border);
  outline: none;
  appearance: none;
}

.catalog-sort-select:hover {
  border-color: var(--color-select-borde-hover);
}

.catalog-sort-select:focus-visible {
  border-color: var(--color-select-borde-focus);
}

.catalog-sort-select:active {
  border-color: var(--color-select-borde-active);
}

.catalog-sort-select:disabled {
  border-color: var(--color-border-primary);
  color: var(--color-text-primary);
  opacity: 0.3;
}

/* Display by appearance */

.catalog-display-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  min-width: 160px;
  max-width: 160px;
  margin: 0 0 0 70px;
  padding: 0;
  list-style-type: none;
}

.display-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  border: 2px solid var(--color-border-tertiary);
  border-radius: 4px;
  outline: none;
}

.display-link-current {
  border-color: var(--color-border-primary);
}

.display-link:hover {
  border-color: var(--color-border-primary);
}

.display-link:focus-visible {
  border-color: var(--color-border-accent);
}

.display-link:active {
  border-color: var(--color-border-primary);
}

.display-link.disabled {
  border-color: var(--color-border-primary);
  opacity: 0.3;
}

.display-icon-tile {
  background-image: url("../images/icons/tile.svg");
}

.display-icon-card {
  background-image: url("../images/icons/card.svg");
}

.display-icon-list {
  background-image: url("../images/icons/list.svg");
}

/* ------------------------------------------------------------------------------------ */
/* CATALOG CARDS */
/* ------------------------------------------------------------------------------------ */

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  outline: 1px solid var(--color-border-tertiary);
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-item-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  margin-top: auto;
}

.catalog-item-info .btn {
  padding: 8px;
  align-content: center;
}

.catalog-item-link{
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.catalog-item-img {
  display: block;
  order: -1;
}

.catalog-item-img:hover {
  opacity: 0.8;
}

.catalog-item-img:active {
  opacity: 0.6;
}

.catalog-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.catalog-item-title:hover {
  color: var(--color-link-hover);
}

.catalog-item-title:focus-visible {
  color: var(--color-link-focus);
}

.catalog-item-title:active {
  color: var(--color-link-active);
}

.catalog-item-desc {
  margin-top: auto;
  color: var(--color-text-secondary);
}

.catalog-item-price {
  text-align: right;
}

/* Star rating */

.rating-stars {
  height: 17px;
  margin: auto 0;
  font-size: 24px;
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 1em auto;
}

.rating-stars-1 {
  width: 1em;
}

.rating-stars-2 {
  width: 2em;
}

.rating-stars-3 {
  width: 3em;
}

.rating-stars-4 {
  width: 4em;
}

.rating-stars-5 {
  width: 5em;
}

.rating-total {
  min-height: 37px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-secondary);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-bg-primary-bold);
  border-radius: 4px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* ------------------------------------------------------------------------------------ */
/* PAGINATION */
/* ------------------------------------------------------------------------------------ */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-list::before {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  margin: 40px 0 32px 0;
  background-color: var(--color-bg-primary-bolder);
}

.pagination-item {
  display: flex;
  min-width: 60px;
  max-width: 196px;
  min-height: 60px;
  text-align: center;
}

.pagination-link {
  align-content: center;
  flex: 1;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-text-inverse);
  text-decoration: none;
  background-color: var(--color-bg-accent);
  border-radius: 4px;
}

.pagination-link-current {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary-bold);
  pointer-events: none;
  cursor: default;
}

.pagination-link:hover {
  background-color: var(--color-btn-accent-hover);
}

.pagination-link:focus-visible {
  background-color: var(--color-btn-accent-focus);
}

.pagination-link:active {
  color: var(--color-text-inverse-medium);
  background-color: var(--color-btn-accent-active);
}

.pagination-link.disabled {
  color: var(--color-text-primary-medium);
  background-color: var(--color-bg-primary-bold);
  opacity: 0.8;
}

.pagination-dots {
  margin: auto;
  font-size: 22px;
  line-height: 26px;
}

/* ------------------------------------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------------------------------------ */
/* Mailing */

.footer-mailing {
  padding: 96px 258px 104px;
  text-align: center;
}

.footer-mailing .headline-desc {
  margin-bottom: 54px;
}

.footer-mailing-bg {
  color: var(--color-text-inverse);
  background-color: var(--color-bg-img-block);
  background-image: url("../images/subscribe-bg.jpg");
  background-image: -webkit-image-set(
    url("../images/subscribe-bg@2x.avif") type("image/avif") 2x,
    url("../images/subscribe-bg@1x.avif") type("image/avif") 1x,
    url("../images/subscribe-bg@2x.webp") type("image/webp") 2x,
    url("../images/subscribe-bg@1x.webp") type("image/webp") 1x,
    url("../images/subscribe-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/subscribe-bg@1x.jpg") type("image/jpg") 1x
  );
  background-image: image-set(
    url("../images/subscribe-bg@2x.avif") type("image/avif") 2x,
    url("../images/subscribe-bg@1x.avif") type("image/avif") 1x,
    url("../images/subscribe-bg@2x.webp") type("image/webp") 2x,
    url("../images/subscribe-bg@1x.webp") type("image/webp") 1x,
    url("../images/subscribe-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/subscribe-bg@1x.jpg") type("image/jpg") 1x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-mailing-bg .headline-desc {
  color: var(--color-text-inverse);
}

.mailing-form {
  display: flex;
}

.mailing-label {
  display: flex;
}

.mailing-form .field {
  width: 452px;
  padding: 14px 20px;
  font-weight: normal;
  border-radius: 4px 0 0 4px;
}

.mailing-form .btn {
  width: 232px;
  padding: 8px 30px;
  border-radius: 0 4px 4px 0;
}

.mailing-label:has(.field:disabled) + .btn {
  background-color: var(--color-btn-disabled);
  pointer-events: none;
  cursor: default;
}

/* ------------------------------------------------------------------------------------ */
/* CONTACTS */
/* ------------------------------------------------------------------------------------ */

.footer-contacts {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link::before {
  content: "";
  display: block;
  width: 48px;
  height: 40px;
  background-color: var(--color-icon-accent);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.social-link:hover::before {
  background-color: var(--color-icon-accent-hover);
;
}
.social-link:focus::before {
  background-color: var(--color-icon-accent-focus);
}

.social-link:active::before {
  background-color: var(--color-icon-accent-active);
}

.social-icon-vk::before {
  -webkit-mask-size: 24px 14px;
  mask-size: 24px 14px;
  -webkit-mask-image: url("../images/icons/vk.svg");
  mask-image: url("../images/icons/vk.svg");
}

.social-icon-tg::before {
  -webkit-mask-size: 18px 16px;
  mask-size: 18px 16px;
  -webkit-mask-image: url("../images/icons/telegram.svg");
  mask-image: url("../images/icons/telegram.svg");
}

.social-icon-youtube::before {
  -webkit-mask-size: 22px 17px;
  mask-size: 22px 17px;
  -webkit-mask-image: url("../images/icons/youtube.svg");
  mask-image: url("../images/icons/youtube.svg");
}

.address-tel {
  display: block;
  margin-right: 58px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.address-tel:hover {
  color: var(--color-link-hover);
}

.address-tel:focus {
  color: var(--color-link-focus);
}

.address-tel:active {
  color: var(--color-link-active);
}

.footer-logo-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  margin: 3px 0;
  -webkit-mask-image: url("../images/logo-htmlacademy.svg");
  mask-image: url("../images/logo-htmlacademy.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--color-link);
}

.footer-logo-link:hover::before {
  background-color: var(--color-link-hover);
}
.footer-logo-link:focus::before {
  background-color: var(--color-link-focus);
}

.footer-logo-link:active::before {
  background-color: var(--color-link-active);
}

/* ------------------------------------------------------------------------------------ */
/* MODAL */
/* ------------------------------------------------------------------------------------ */

.modal-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--color-bg-primary-bold-heavy);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: var(--color-bg-primary);
  border-radius: 30px;
  box-shadow: 0 25px 50px var(--color-shadow-light);
}

.modal-content {
  width: 577px;
}

.modal-search .headline-title {
  margin: 0 64px 64px 0;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 121px 110px 1fr 115px 110px;
  grid-template-rows: minmax(48px, auto);
  column-gap: 16px;
}

.modal-btn-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: var(--color-bg-primary-bold);
  border: none;
  border-radius: 50%;
}

.modal-btn-close::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background-image: url("../images/icons/cross.svg");
}

.modal-btn-close:hover {
  background-color: var(--color-bg-primary-bolder);
}

.modal-btn-close:focus-visible {
  background-color: var(--color-bg-primary-bolder);
  outline: 3px solid var(--color-border-accent);
}

.modal-btn-close:active {
  background-color: var(--color-bg-primary-bolder);
}

.modal-btn-close:active::before {
  opacity: 0.3;
}

.modal-label-field {
  grid-column: 1/2;
  padding: 12px 0;
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.label-date-in {
  grid-row: 1 / 3;
}

.label-date-out {
  grid-row: 3 / 6;
}

.modal .field {
  max-height: 48px;
}

.field-date {
  grid-column: 2/-1;
  padding-right: 56px;
  background: var(--color-input) url("../images/icons/date.svg") no-repeat center right 20px;
}

.field-validation-message {
  grid-column: 2/-1;
  margin: 4px 20px 23px;
  font-size: 16px;
  color: var(--color-text-secondary);
}

.message-error{
  color: var(--color-text-error);
}

/* Number of people */

.label-children-wrap {
  position: relative;
  padding: 12px 26px 12px 0;
  grid-column: 4/5;
}

.field-adults-wrap,
.field-children-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 48px;
}

.field-adults-wrap:has(.field:disabled),
.field-children-wrap:has(.field:disabled) {
  opacity: 0.8;
  pointer-events: none;
  cursor: default;
}

.field-children-wrap {
  grid-column: 5/6;
}

.field-adults,
.field-children {
  grid-column: 1/-1;
  grid-row: 1;
  padding: 14px 40px;
  line-height: 20px;
  text-align: center;
}

.field-btn-quantity {
  position: relative;
  z-index: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 4px;
}

.field-btn-quantity::before {
  content: "";
  position: absolute;
  inset: -14px -10px;
  width: 40px;
  min-height: 48px;
  background: var(--color-icon-secondary-active);
  -webkit-mask-size: 20px;
  mask-size: 20px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.field-btn-quantity:hover::before {
  background-color: var(--color-icon-primary);
}

.field-btn-quantity:focus-visible {
  outline: 3px solid var(--color-input-border-focus);
}

.field-btn-quantity:focus-visible::before {
  background-color: var(--color-icon-primary);
}

.field-btn-quantity:active::before {
  background: var(--color-icon-secondary-active);
}

.btn-reduce {
  grid-column: 1/2;
}

.btn-reduce::before {
  -webkit-mask-image: url("../images/icons/minus.svg");
  mask-image: url("../images/icons/minus.svg");
}

.btn-increase {
  grid-column: 3/4;
}

.btn-increase::before {
  -webkit-mask-image: url("../images/icons/plus.svg");
  mask-image: url("../images/icons/plus.svg");
}

/* Tooltip */

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle-info {
  display: block;
  margin: 0;
  padding: 0;
  background: var(--color-btn-accent);
  border: none;
  border-radius: 50%;
}

.tooltip-toggle-info::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  -webkit-mask-image: url("../images/icons/info.svg");
  mask-image: url("../images/icons/info.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--color-icon-inverse);
}

.tooltip-text {
  z-index: 2;
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-inverse);
  background: var(--color-bg-secondary-subtle);
  border-radius: 10px;
  box-shadow: 0 15px 30px var(--color-shadow-medium-2);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  width: 19px;
  height: 9px;
  margin: 0 auto;
  background-image: url("../images/icons/tooltip-triangle.svg");
}

.tooltip-toggle-info:hover + .tooltip-text,
.tooltip-toggle-info:focus + .tooltip-text {
  display: block;
}

.modal-search [type=submit] {
  grid-column: 1/-1;
  margin-top: 35px;
  padding: 12px;
  border-radius: 10px;
}

/* Визуальное скрытие заголовков важных для скринридеров */

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}
